<div class="purchase-history-wrapper">
    <h2 class="secondary-heading">Purchase History</h2>
    <div class="row">
        <div class="col-5">
            <div class="purchase-history-list">
                <p class="purchase-date">October 22, 2020</p>
                <div class="purchase-history-details-wrapper">
                    <img src="../../../assets/images/purchase-history-banner.png" width="68" height="68">
                    <div class="purchase-history-details-content">
                        <h5>Ponmagal Vandal</h5>
                        <p>Order ID: RRST75755</p>
                        <p>Amount: <span>&#8377; 238.00</span></p>
                        <a href="javascript:;" class="watch-triler-cta">Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="purchase-history-list">
                <p class="purchase-date">October 22, 2020</p>
                <div class="purchase-history-details-wrapper">
                    <img src="../../../assets/images/purchase-history-banner.png" width="68" height="68">
                    <div class="purchase-history-details-content">
                        <h5>Ponmagal Vandal</h5>
                        <p>Order ID: RRST75755</p>
                        <p>Amount: <span>&#8377; 238.00</span></p>
                        <a href="javascript:;" class="watch-triler-cta">Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
