<div class="purchase-history-wrapper">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" class="home-icon"></a></li>
            <li class="breadcrumb-item active">Purchase History</li>
        </ol>
    </nav>
    <h2 class="secondary-heading">Purchase History</h2>
    <div class="row">
        <div class="col-5"  *ngFor="let movie of movieArray">
            <div class="purchase-history-list">
                <p class="purchase-date">{{movie.start_time | date:'MMM dd yyyy'}}</p>
                <div class="purchase-history-details-wrapper">
                    <img src="{{movie.movie.video.posters_url}}" width="68" height="68">
                    <div class="purchase-history-details-content">
                        <h5>{{movie.movie.mov_name}}</h5>
                        <p>Order ID: {{movie.order_id}}</p>
                        <p *ngIf="movie.currency=='INR'">Amount: <span>{{movie.amount/100 | currency:'INR'}}</span></p>
                        <p *ngIf="movie.currency=='USD'">Amount: <span>{{movie.amount/100 | currency:'USD'}}</span></p>
                        <a href="javascript:;" class="watch-triler-cta" *ngIf="movie.watch_movie=='true'" (click)="watchNow(movie.movie)">Watch Now - <countdown [config]="{ stopTime: movie.end_time }"></countdown></a>
                       

                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-5">
            <div class="purchase-history-list">
                <p class="purchase-date">October 22, 2020</p>
                <div class="purchase-history-details-wrapper">
                    <img src="../../../assets/images/purchase-history-banner.png" width="68" height="68">
                    <div class="purchase-history-details-content">
                        <h5>Ponmagal Vandal</h5>
                        <p>Order ID: RRST75755</p>
                        <p>Amount: <span>&#8377; 238.00</span></p>
                        <a href="javascript:;" class="watch-triler-cta">Watch Now</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
