<div class="container-fluid">
    <div class="row bdr-bottom-gray fixed-header">
        <div class="col-6">
            <a href="/" class="inner-page-logo"></a>
        </div>
        <div class="col-6">
            <a href="javascript:;" class="logo-out" (click)="logout()">Logout</a>
        </div>
    </div>
</div>