.login-wrapper{
    width:100%;
    height:375px;
    background:url(../../assets/images/login-banner.jpg) no-repeat top center;
    background-size: cover;
}
.login-container{
    background: #fff;
    padding: 40px 30px 20px 30px;
    margin-top: 100px;
    border-radius: 20px;
    border: 1px solid #D5D5D5;
}
.cloudplex-logo-md{
    background:url(../../assets/images/cloudplex-logo.svg) no-repeat;
    width: 215px;
    height: 50px;
    display: table;
    margin: 0 auto 75px;
}
.form-container h4{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom:25px;
}
.form-group {
   position: relative;
}

/* .form-group label {
   display: block;
   margin-bottom: 10px;
   margin-top: 10px;
   color: #555555;
} */

.form-group label {
   display: block;
   position: absolute;
   top: 25px;
   font-size: 16px;
   left: 35px;
   color: #555555;
   transition: all .2s;
   pointer-events: none;
   opacity:0;
}
.form-group.focused label {
   top: -15px;
   left: 15px;
}
.form-group input {
    width: 100%;
    background: #fff;
    border: 1px solid #BABABA;
    border-radius: 3px;
    padding: 13px 15px;
    outline: none;
    color: #3B3B3B;
    font-size: 16px;
    line-height: 22px;
 }
.error {
    color: #de2e2e;
    font-size: 13px;
    position: relative;
    top: 5px;
 }
 .forgot-password-link{
    font-size:14px;
    color: #0E60CA;
    text-decoration: underline;
    margin-top:5px;
 }
 .login-btn{
    background: #0E60CA;
    border-radius: 3px;
    color: #fff;
    font-size:20px;
    padding: 10px 15px;
    width:100%;
    margin:25px 0 0;
    float: left;
    text-decoration: none;
    text-align: center;
 }
.form-btm-link{
   font-size: 14px;
   color:#333333;
   position: absolute;
   bottom: -50px;
   left: 0;
   right: 0;
}
.form-btm-link a{
   font-weight: 600;
   color:#333333;
}
