<div class="login-wrapper">
    <div class="container">
        <div class="row pos-rel">
            <div class="col-sm-9 col-md-6 col-lg-4 mx-auto login-container">
                <a href="javascript:;" class="cloudplex-logo-md"></a>
             
                <form id="forgot-password-form"  [formGroup]="otpForm" (ngSubmit)="onSubmitOtp(otpForm)"  class="form-container forgot-password-form">
                    <h4>OTP Verification</h4>
                    <div class="form-group focused">
                        <label>OTP</label>
                        <input type="number" placeholder="OTP" formControlName="otp">                        
                    </div>
                  
                    <div class="form-group">
                        <button class="login-btn" type="submit" >Submit</button>
                    </div>                    
                </form>
            </div>
            
            <p class="text-center form-btm-link">Already have a account? <a routerLink="">Login</a></p>
        </div>
    </div>

