<div class="movie-list-wrapper">
    <h2 class="secondary-heading">All Movies</h2>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>