<div class="movie-list-wrapper">
    <h2 class="secondary-heading">All Movies</h2>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let movie of movieArray">
            <div class="movie-list-container">
                <img src="{{movie.video.posters_url}}" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title"><a style="color:blue;cursor:pointer"  (click)="selectedMovie(movie,'movie_details')">{{movie.mov_name}}</a></h5>
                    <p class="movie-description">{{movie.mov_description}}</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta" *ngIf="movie.trailer_id!=null"  data-toggle="modal" data-target="#exampleModal" (click)="getOtp(movie.trailer_id,movie.mov_name)" >Watch Trailer</a>
                        <a href="javascript:;" class="play-cta"  (click)="selectedMovie(movie,'order')" *ngIf="country=='India' && movie.paid==false">Pay  {{ movie.inr | currency:'INR' }} to Watch Now</a>
                        <a href="javascript:;" class="play-cta"  (click)="selectedMovie(movie,'order')" *ngIf="country!='India' && movie.paid==false" >Pay  {{ movie.usd | currency:'USD' }} to Watch Now</a>
                        <a href="javascript:;" class="play-cta"  style="pointer-events: none;" *ngIf="movie.watch_movie=='true'">Remaining Time - <countdown [config]="{ stopTime: movie.end_time }"></countdown></a>
                        <!-- <a href="javascript:;" class="play-cta" *ngIf="movie.paid==true"> Watch Now</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </ <a href="javascript:;" class="play-cta" *ngIf="country=='India'">Pay  {{ movie.inr | currency:'INR' }} to Watch Now</a>
                        <a href="javascript:;" class="play-cta" *ngIf="country!='India'">Pay  {{ movie.usd | currency:'USD' }} to Watch Now</a>div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="movie-list-container">
                <img src="../../../assets/images/movie-list-banner.png" width="100%">
                <div class="movie-list-inner">
                    <h5 class="movie-title">Ponmagal Vandal</h5>
                    <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer</p>
                    <div class="movie-list-cta">
                        <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
                        <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="modal fade" id="exampleModal" data-bawatchNowckdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{movie_name | titlecase}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVideo()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="embedBox"></div>
            </div>
            </div>
        </div>
    </div>
</div>