<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="home-icon"></a></li>
        <li class="breadcrumb-item active">Order Summary</li>
    </ol>
</nav>
<div class="order-summary-wrapper">
    <h2 class="secondary-heading">Order Summary</h2>
    <div class="order-summary-details">
        <h3>{{movie_details.mov_name}}</h3>
        <!-- <p><span>2020</span><span>Drama</span><span>2 Hrs 45 Mins</span></p>
        <p>Audio In: Tamil</p> -->
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>Base Price:</td>
                <td><span *ngIf="country=='India'">{{ movie_details.inr | currency:'INR' }}</span>
                    <span  *ngIf="country!='India'">{{ movie_details.usd | currency:'USD' }} </span></td>
            </tr>
            <tr>
                <td>Tax:</td>
                <td><span *ngIf="country=='India'">{{ tax | currency:'INR' }}</span>
                    <span  *ngIf="country!='India'">{{ tax | currency:'USD' }}</span></td>
            </tr>
            <tr>
                <td><strong>Total:</strong></td>
                <td><strong><span *ngIf="country=='India'">{{ movie_details.total_price | currency:'INR' }}</span>
                    <span  *ngIf="country!='India'">{{  movie_details.total_price | currency:'USD' }}</span></strong></td>
            </tr>
        </table>
        <a href="javascript:;" class="play-cta" (click)="createOrder()">Pay <span *ngIf="country=='India'">{{ movie_details.total_price | currency:'INR' }}</span>
            <span  *ngIf="country!='India'">{{  movie_details.total_price | currency:'USD' }}</span></a>
    </div>
</div>
