<div class="order-summary-wrapper">
    <h2 class="secondary-heading">Order Summary</h2>
    <div class="order-summary-details">
        <h3>Ponmagal Vandal</h3>
        <p><span>2020</span><span>Drama</span><span>2 Hrs 45 Mins</span></p>
        <p>Audio In: Tamil</p>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>Base Price:</td>
                <td>&#8377; 223.00</td>
            </tr>
            <tr>
                <td>Tax:</td>
                <td>&#8377; 15.00</td>
            </tr>
            <tr>
                <td><strong>Total:</strong></td>
                <td><strong>&#8377; 238.00</strong></td>
            </tr>
        </table>
        <a href="javascript:;" class="play-cta">Pay &#8377; 238</a>
    </div>
</div>
