<div class="movie-details-wrapper">
    <div class="movie-details-top-container row">
        <div class="col-3">
            <img src="../../../assets/images/movie-details-banner.png" width="100%" style="display:block"/>
        </div>
        <div class="col-9">
            <h2 class="secondary-heading">Ponmagal Vandal</h2>
            <p class="movie-description">Ponmagal Vandhal is a murder mystery courtroom drama set in Ooty, in 2020. Venba (Jyotika), a determined lawyer, reopens the case of a serial killer Jothi after 15 Years. This is Venba’s journey against child abuse and her quest for justice.</p>
            <div class="movie-details">
                <p>Director: JJ Fredick</p>
                <p>Starring: Jyotika, R Parthieban, K Bhagyaraj</p>
                <p>Genres: International, Drama</p>
                <p>Drama Subtitles: English [CC]</p>
                <p>Audio languages: தமிழ்</p>
            </div>
            <p class="movie-rate"><span>&#8377;</span> 225</p>
        </div>
    </div>
    <div class="movie-details-middle-container row">
        <div class="col-3">
            <a href="javascript:;" class="watch-triler-cta">Watch Trailer</a>
        </div>
        <div class="col-4">
            <a href="javascript:;" class="play-cta">Pay &#8377; 225 to Watch Now</a>
        </div>
        <div class="col-5">
            <p>By clicking play, you agree to our <a href="javascript:;">Terms of Use</a>.</p>
        </div>
    </div>
    <div class="movie-details-bottom-container">
        <h5>More Details</h5>
        <div class="movie-details">
            <p>Producers: Suriya</p>
            <p>Studio: 2D Entertainment</p>
            <p>Genres: International, Drama</p>
            <p>Amazon Maturity Rating: 18+ Adults. <a href="javascript:;" style="color:#0E60CA">Learn more</a></p>
            <p>Content advisory: Violence, foul language, drug use</p>
            <p>Supporting actors: Thyagarajan, Pratap Pothen, Pandiarajan</p>
        </div>
    </div>
</div>
