<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" class="home-icon"></a></li>
        <li class="breadcrumb-item active">Movie Details</li>
    </ol>
</nav>
<div class="movie-details-wrapper" *ngIf="!show_video">
    <div class="movie-details-top-container row">
        <div class="col-3">
            <img src="{{movie_details.video.posters_url}}" width="100%" style="display:block"/>
        </div>
        <div class="col-9">
            <h2 class="secondary-heading">{{movie_details.mov_name | titlecase}}</h2>
            <p class="movie-description">{{movie_details.mov_description}}</p>
            <div class="movie-details">
                <p>Director: {{movie_details.director | titlecase}}</p>
                <p>Starring: {{movie_details.mov_cast | titlecase}}</p>
                <p>Genres: <span *ngFor="let genre of movie_details.genre">{{genre.gen_title | titlecase }},</span></p>
                <!-- <p>Drama Subtitles: English [CC]</p>
                <p>Audio languages: தமிழ்</p> -->
            </div>
            <p class="movie-rate"> <span *ngIf="country=='India'">{{ movie_details.inr | currency:'INR' }}</span>
                <span  *ngIf="country!='India'">{{ movie_details.usd | currency:'USD' }} </span></p>
        </div>
    </div>
    <div class="movie-details-middle-container row">
        <div class="col-3">
            <a href="javascript:;" class="watch-triler-cta" *ngIf="movie_details.trailer_id!=null"  data-toggle="modal" data-target="#trailerModal" (click)="getTrailerOtp(movie_details.trailer_id,movie_details.mov_name)">Watch Trailer</a>
        </div>
        <div class="col-4">
            <a  class="play-cta" *ngIf="country=='India' && movie_details.paid==false" routerLink="/order-summary">Pay  {{ movie_details.inr | currency:'INR' }} to Watch Now</a>
            <a href="javascript:;" class="play-cta" *ngIf="country!='India' && movie_details.paid==false" routerLink="/order-summary">Pay  {{ movie_details.usd | currency:'USD' }} to Watch Now</a>
            <a href="javascript:;" class="play-cta"  data-toggle="modal" data-target="#exampleModal" *ngIf="movie_details.paid==true" (click)="watchNow()"> Watch Now - <countdown [config]="{ stopTime: movie_details.end_time }"></countdown></a>
        </div>
        <div class="col-5">
            <p>By clicking play, you agree to our <a href="javascript:;">Terms of Use</a>.</p>
        </div>
    </div>
</div>
<!-- <div class="movie-details-wrapper" *ngIf="show_video">

    <div class="row col-12">
            <a href="javascript:;" class="play-cta col-1"  (click)="closeVideo()" > Close</a>
    </div>
        
        <div id="embedBox" style="width:1280px;max-width:100%;height:auto;"></div>
</div> -->
<div class="modal fade" id="exampleModal" data-bawatchNowckdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{movie_details.mov_name | titlecase}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVideo()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="embedBox"></div>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="trailerModal" data-bawatchNowckdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{movie_name | titlecase}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeTrailer()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="trailerBox"></div>
        </div>
        </div>
    </div>
</div>