<div class="login-wrapper">
    <div class="container">
        <div class="row pos-rel">
            <div class="col-12">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" class="home-icon"></a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </nav>
            </div>
            <div class="col-sm-9 col-md-6 col-lg-4 mx-auto login-container">
                <form id="forgot-password-form"  [formGroup]="passwordForm" (ngSubmit)="onSubmitPwd(passwordForm)"  class="form-container forgot-password-form">
                    <h4>Change Password</h4>
                    <div class="form-group focused">
                            <label>Old password</label>
                            <input type="password" placeholder="Old password" formControlName="old_password">   
                            <p class="error" *ngIf="passwordForm.get('old_password').invalid">Old password is required</p>                       
                        </div>
                    <div class="form-group focused">
                        <label>New password</label>
                        <input type="password" placeholder="New password" formControlName="password">   
                        <p class="error" *ngIf="passwordForm.get('password').invalid">Password should be in 6 characters </p>  
                               
                    </div>
                    
                    <div class="form-group">
                        <button class="login-btn" type="submit" [disabled]="!passwordForm.valid" >Submit</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
    
    