<div class="login-wrapper">
    <div class="container">
        <div class="row pos-rel">
            <div class="col-sm-9 col-md-6 col-lg-4 mx-auto login-container">
                <a href="javascript:;" class="cloudplex-logo-md"></a>
                <form id="login-form" *ngIf="signin" class="form-container login-form" [formGroup]="loginForm" (ngSubmit)="onLoggedIn()">
                    <h4>LOGIN</h4>
                    <div class="form-group focused">
                        <label>Email or Phone Number</label>
                        <input type="email" class="form-control" placeholder="Email or Phone Number" formControlName="username" required [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Email is required</div>
                            <div *ngIf="f.username.errors.email && f.username.errors.pattern">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group focused">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <a href="javascript:;" (click)="onSelectForgot()" class="forgot-password-link float-right">Forgot password</a>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="login-btn" type="submit">Submit</button>
                    </div>
                                    
                </form>
                <form id="register-form" *ngIf="signup" [formGroup]="registerForm" (ngSubmit)="onSignedUp(registerForm)"  class="form-container register-form">
                    <h4>SING UP</h4>
                    <div class="form-group focused">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email" formControlName="email" required [ngClass]="{ 'is-invalid': submitted && r.email.errors }">
                        <div *ngIf="submitted && r.email.errors" class="invalid-feedback">
                            <div *ngIf="r.email.errors.required">Email is required</div>
                            <div *ngIf="r.email.errors.email && r.email.errors.pattern">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group focused">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Name" formControlName="full_name" required [ngClass]="{ 'is-invalid': submitted && r.full_name.errors }">
                        <div *ngIf="submitted && r.full_name.errors" class="invalid-feedback">
                            <div *ngIf="r.full_name.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group focused">
                        <label>Add a password</label>
                        <input type="password" class="form-control" placeholder="Add a password" formControlName="password" required [ngClass]="{ 'is-invalid': submitted && r.password.errors }">
                        <div *ngIf="submitted && r.password.errors" class="invalid-feedback">
                            <div *ngIf="r.password.errors.required">Password is required</div>
                            <div *ngIf="r.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>                        
                    </div>
                    <div class="form-group">
                        <button class="login-btn" type="submit">Register Now</button>
                    </div>                                        
                </form>
                <form id="forgot-password-form" *ngIf="forgot" [formGroup]="forgotForm" (ngSubmit)="onForgotPassword(forgotForm)" class="form-container forgot-password-form">
                    <h4>FORGOT PASSWORD</h4>
                    <div class="form-group focused">
                        <label>Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Enter Registered Email" required required [ngClass]="{ 'is-invalid': submitted && p.email.errors }">
                        <div *ngIf="submitted && p.email.errors" class="invalid-feedback">
                            <div *ngIf="p.email.errors.required">Email is required</div>
                            <div *ngIf="p.email.errors.email && p.email.errors.pattern">Email must be a valid email address</div>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <button class="login-btn" type="submit">Submit</button>
                    </div>                    
                </form>
            </div>
            <p class="text-center form-btm-link"  *ngIf="signin" (click)="onSelectSignup()">New to Cloudplex? <a href="javascript:;">Sign Up</a></p>
            <p class="text-center form-btm-link" *ngIf="signup || forgot" (click)="onSelectSignin()">Already have a account? <a href="javascript:;">Login</a></p>
        </div>
    </div>

