<div class="login-wrapper">
    <div class="container">
        <div class="row pos-rel">
            <div class="col-sm-9 col-md-6 col-lg-4 mx-auto login-container">
                <a href="javascript:;" class="cloudplex-logo-md"></a>
          
                <form id="forgot-password-form"  [formGroup]="passwordForm" (ngSubmit)="onSubmitPwd(passwordForm)"  class="form-container forgot-password-form">
                    <h4>Reset Password</h4>
                    <div class="form-group focused">
                        <label>New password</label>
                        <input type="password" placeholder="New password" formControlName="password">                        
                    </div>
                  
                    <div class="form-group">
                        <button class="login-btn" type="submit" >Submit</button>
                    </div>                    
                </form>
            </div>
           
            <p class="text-center form-btm-link">Already have a account? <a routerLink="">Login</a></p>
        </div>
    </div>

