<!-- <app-form-component></app-form-component> -->
<!-- <app-inner-page></app-inner-page> -->
<app-header *ngIf="currentUrl!='/' &&  currentUrl!='/otp' &&  currentUrl!='/otp'" ></app-header>
<div class="container-fluid margin-top-80">
    <div class="row">
        <div *ngIf="currentUrl!='/' &&  currentUrl!='/otp' &&  currentUrl!='/otp'"  class="col-2 sidebar-container">
            <app-side-bar></app-side-bar>
        </div>
        <div  [ngClass]="getClass(currentUrl)" class="movie-list">
            <router-outlet></router-outlet>            
        </div>
        <!-- <div *ngIf="currentUrl!=='/'" class="col-12 movie-list">
            <router-outlet></router-outlet>
        
    </div> -->
    
</div>


