.sidebar-container{
    border-right:1px solid #D5D5D5;
    background: #ffffff;
    position: relative;
    padding: 0;
    min-height: 600px;
}
.movie-list{
    background: #F4F4F4;
    padding:0;
}