/* You can add global styles to this file, and also import other style files */
html,body{
    font-family: 'Open Sans', sans-serif !important;
    background:#F4F4F4;
}
a{
    text-decoration: none !important;
}
p{
    margin:0 !important;
    padding:0;
}
.pos-rel{
    position: relative;
}
.watch-triler-cta{
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #0E60CA;
    padding: 12px 18px 12px 30px;
    border-radius: 3px;
    text-decoration: none;
    color: #0E60CA;
    position: relative;
    transition: 0.25s linear;
    width: 100%;
    text-align: center;
    display: table;
}
.watch-triler-cta:hover{
    background: #aac4ff;
}
.play-cta{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    position: relative;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    display: table;
    background: #0E60CA;
    border-radius: 3px;
    transition: 0.25s linear;
    border: 1px solid #0E60CA;
}
.play-cta:hover{
    background: #ffffff;
    color: #0E60CA;
}
.secondary-heading{
    font-size: 24px;
    line-height: 33px;
    color: #000;
    font-weight: 600;
}
@media (min-width: 1200px){
    .container{
        max-width:1280px !important;
    }
}
.breadcrumb{
    background: none !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
}
.home-icon{
    background: url(./assets/images/home-icon.png) no-repeat;
    width: 20px;
    height: 20px;
}
.margin-top-80{
    margin-top: 80px;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
